.base {
    display: block;
}

.base header {
    background-color: #bc9bff;
    display: flex;
    align-items: center;
    padding: 20px;
}

.base header span {
    font-size: 20px;
    margin-left: 24px;
}

.base header img {
    height: 64px;
}

.base header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.bb {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 0.001em solid #fff;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.3s;
}

.base header button:hover {
    border-color: #999;
}

.addItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContent {
    width: 98%;
    padding: 20px;
    background: #edebff;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.boxContent form input {
    width: auto;
    height: 40px;
    color: #333;
    margin-bottom: 8px;
    border: 0.001em solid #fff;
    border-radius: 8px;
    padding: 0 24px;
}

.boxContent form button {
    width: auto;
    height: 40px;
    background-color: #945ee8;
    color: #fff;
    margin-left: 8px;
    margin-bottom: 8px;
    border: 0.001em solid #945ee8;
    border-radius: 8px;
    padding: 0 24px;
}

.content {
    width: 46%;
    padding: 20px;
    background: #edebff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.content div {
    margin-top: 18px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
    margin-left: -50px;
    margin-top: -70px;
}

.content table td {
    padding: 8px;
    border: 1px solid #000;
}

.content table th {
    padding: 8px;
    border: 1px solid #000;
}

Link {
    width: auto;
}

.button {
    width: 100%;
    height: 55px;
    background: rgb(155, 116, 211);
    border:  0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.3s;
}

